html,body{
    height: 100%;
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("../img/background12.png");
    background-attachment: fixed;
    background-size: contain;
    font-family: 'Montserrat', sans-serif;
}

header{
    border-bottom: 1px solid lightgray;
    height: 50px;
    /* padding-top: 10px; */
    /* padding-bottom: 5px; */
}

nav{
    background-color: rgba(0,0,0,.2);
    height: 25px;
    margin: 2px 0;
}

a{
    text-decoration: none;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.header-grid{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.brand-name{
    height: 100%;
}

.header-div{
    height: 100%;
    font-size: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.header-div a{
    color: gray;
}

.header-link{
    border-right: 1px solid gray;
    padding: 0 15px;
}

.last-header-link{
    padding-left: 15px;
}

.cart{
    display: inline;
}

.items-cost{
    margin: 0px 5px;
}

.nav-grid{
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
}

.nav-links{
    height: 100%;
    display: flex;
    width: 75%;
}

.nav-links a{
    padding: 0px 14px;
    border-right: 1px solid white;
    height: 100%;
    display: flex;
    align-items: center;
    color: dimgray;
    font-size: xx-small;
    font-weight: 600;
}

.nav-links :first-child{
    padding: 0px 14px 0 0;
}

.search{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-end; */
    width: 25%;
}

.search-form{
    width: -webkit-fill-available;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-form input{
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    width: 70%;
    border: 1px solid rgba(0,0,0,.3);
    padding: 2px 2px 1px 4px;
    margin-right: 5px;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.4);
}

.navbar2{
    height: 40px;
    border: 1px solid lightgray;
}

.offers-div{
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    font-size: 10px;
}

.div1{
    display: flex;
    align-items: center;
    width: 75%;
}

.circle{
    margin: 0 10px;
}

.bridal-registry{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bridal-registry img{
    height: 100%;
}

.recipe{
    /* display: grid; */
    /* grid-template-columns: 72% 28%; */
    border: 5px solid white;
    height: 50%;
    background: white;
    display: flex;
}

.recipe-img{
    /* height: -webkit-fill-available; */
    width: 70%;
    height: 100%;
}

.recipe-img img{
    height: inherit;
    width: 100%;
}

.recipe-div{
    background-color: #383735;
    color: white;
    padding: 5px;
    border-left: 5px solid white;
    height: -webkit-fill-available;
    /* height: 100%; */
    width: 30%;
}

.dress-table{
    padding: 25px 15px;
    border: 1px solid dimgray;
    height: -webkit-fill-available;
}

.dress-table-text{
    padding: 10px 10px;
    padding-right: 15px;
    margin-bottom: 5px;
}

.dress-table-text h1{
    font-weight: 100;
    margin-bottom: 10px;
    font-size: 1.3em;
    color: whitesmoke;
}

.dress-table-text p{
    line-height: 20px;
    color: darkgray;
    font-size: .65em;
}

.table-styles{
    /* padding: 10px 0; */
    /* padding-bottom: 10px; */
    color: whitesmoke;
    margin-bottom: 5px;
}

.table-styles li{
    list-style: none;
    padding: 5px 10px;
    border-bottom: 1px solid dimgray;
    font-size: .7em;
    /* font-weight: 100; */00; *;
}

.table-styles :last-child{
    border: none;
    /* padding-bottom: 0; */
}

.recipe-div a{
    color: gray;
    font-size: .6em;
    text-decoration: underline;
    padding: 10px 10px;
    /* margin-top: 55px; */
}

.promo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: white;
    border: 5px solid black;
    /* height: 20%; */
}

.promo-div{
    position: relative;
    height: inherit;
}

.promo-text{
    position: absolute;
    margin: 10px 0;
    padding: 5px 15px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-right: 1px solid lightgray;
    display: flex;
    justify-content: center;
}

.promo-text-last{
    width: 50%;
    border: 0;
    /* padding-right: 0; */
}

.promo-content{
    width: fit-content;
    height: -webkit-fill-available;
}

.promo-text h2{
    font-size: .75em;
    /* line-height: 20px; */
    font-weight: 100;
}

.promo-text p{
    font-size: .5em;
    margin-top: 5px;
    line-height: 2em;
}

.promo-text a{
    float: right;
    font-size: .65em;
    margin-top: 1em;
}

.promo-text-last h2{
    padding-right: 15px;
}

.promo-text-last a{
    float: left;
}

.promo-img1{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.promo-img1 img{
    height: 100%;
    width: 80%;
}

.promo-img2{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.promo-img2 img{
    width: 100%;
    max-height: 100%;
}

.promo-img3{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.promo-img3 img{
    height: 100%;
    width: 65%;
}

.blue-link{
    color: rgb(63,74,136);
}

footer{
    padding: 5px 0;
    font-size: .5em;
    color: darkgray;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

footer a{
    color: darkgray;
    text-decoration: underline;
}

.footer-link{
    padding: 0 10px;
    border-left: 1px solid gray;
}

.first-footer-link{
    padding-right: 10px;
}

.contact{
    margin-top: 10px;
}

.contact p{
    margin-bottom: 7px;
}

.signup{
    margin-top: 10px;
}

.form-div{
    display: flex;
    justify-content: flex-end;
}

.signup-div{
    width: fit-content;
}

.signup input{
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
    width: 60%;
    border: 1px solid rgba(0,0,0,.3);
    padding: 3px 6px;
    margin-right: 5px;
}

.form-button{
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.3);
    font-family: 'Montserrat', sans-serif;
    font-size: xx-small;
    font-weight: 700;
}

.signup .form-button{
    padding: 2px 6px;
}

.search-form .form-button{
    padding: 1px 2px;
}