html{
    font-size: 20px;
}

html, body{
    height: 100vh;
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("../img/background12.png");
    background-attachment: fixed;
    background-size: contain;
    font-family: 'Montserrat', sans-serif;
}

header{
    border-bottom: 1px solid lightgray;
    height: 7%;
}

nav{
    background-color: rgba(0,0,0,.2);
    height: 3.75%;
    margin: 2px 0;
}

a{
    text-decoration: none;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.header-grid{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.brand-name{
    height: 100%;
}

.header-div{
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1.25%;
}

.header-links-div{
    height: fit-content;
    font-size: .5rem;
}

.header-links-div a{
    color: gray;
}

.header-link{
    border-right: 1px solid gray;
    padding: 0 1rem;
}

.cart{
    position: relative;
    padding-left: 1rem;
}

.icon-cart{
    height: .75rem;
    width: .75rem;
    position: absolute;
    bottom: 0;
}

.last-header-link{
    padding-left: 15px;
}

.items-cost{
    margin-right: 5px;
}

.nav-grid{
    height: 100%;
    display: flex;
}

.nav-links{
    height: 100%;
    display: flex;
    width: 75%;
}

.nav-links a{
    padding: 0 2.5%;
    border-right: 1px solid white;
    height: 100%;
    display: flex;
    align-items: center;
    color: dimgray;
    font-size: .55rem;
    font-weight: 600;
}

.nav-links :first-child{
    padding: 0px 2.5% 0 0;
}

.search{
    width: 25%;
}

.search-form{
    width: -webkit-fill-available;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-form input{
    font-family: 'Montserrat', sans-serif;
    font-size: .5rem;
    width: 70%;
    border: 1px solid rgba(0,0,0,.3);
    padding: 1.25% 2.5% 1% 2%;
    margin-right: 3%;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.4);
}

.navbar2{
    height: 5.25%;
    border: 1px solid lightgray;
}

.offers-div{
    height: 100%;
    display: flex;
    font-size: .625rem;
}

.div1{
    display: flex;
    align-items: center;
    width: 75%;
}

.circle{
    margin: 0 2%;
}

.bridal-registry{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bridal-registry img{
    height: 100%;
}

main{
    display: grid;
    grid-template-rows: 70% 30%;
}

.recipe{
    border: 5px solid white;
    background: white;
    display: flex;
}

.recipe-img{
    width: 72%;
    height: 100%;
    border-right: 5px solid white;
}

.recipe-img img{
    height: inherit;
    width: 100%;
}

.recipe-div{
    background-color: #3C3B39;
    color: white;
    padding: .3em;
    height: -webkit-fill-available;
    width: 28%;
    display: flex;
}

.dress-table{
    border: 1px solid dimgray;
    padding: 2em 1em;
    padding-bottom: 1em;
    width: 100%;
}

.dress-table-text{
    padding: 0 .6em;
    margin-bottom: 0.75em;
}

.dress-table-text h1{
    font-weight: 100;
    margin-bottom: .5em;
    font-size: 1.4rem;
    color: whitesmoke;
}

.dress-table-text p{
    line-height: 1.25rem;
    color: darkgray;
    font-size: 0.7rem;
}

.table-styles{
    color: whitesmoke;
    padding: .25em;
    margin-bottom: .5em;
}

.table-styles li{
    list-style: none;
    padding: .6em;
    border-bottom: 1px solid dimgray;
    font-size: .7rem;
}

.table-styles :last-child{
    border: none;
}

.recipe-div a{
    color: darkgray;
    font-size: 0.65rem;
    text-decoration: underline;
    padding: .25em 1em;
}

.promo{
    background-color: white;
    border: 5px solid black;
    display: flex;
}

.promo-div{
    position: relative;
    height: 100%;
    width: 33%;
    display: flex;
}

.promo2{
    width: 34%;
}

.promo-text{
    position: absolute;
    margin: 3% 0;
    padding: 2% 5%;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-right: 1px solid lightgray;
    display: flex;
    justify-content: center;
}

.promo-text-last{
    width: 50%;
    border: 0;
}

.promo-content{
    width: fit-content;
    height: -webkit-fill-available;
}

.promo-text h2{
    font-size: .75rem;
    font-weight: 100;
}

.promo-text p{
    font-size: .5rem;
    margin-top: 2%;
    line-height: 1rem;
}

.promo-text a{
    float: right;
    font-size: 0.65rem;
    margin-top: 5%;
}

.promo-text-last h2{
    padding-right: 10%;
}

.promo-text-last a{
    float: left;
}

.promo-img1{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}

.promo-img1 img{
    height: 100%;
    width: 80%;
}

.promo-img2{
    height: 100%;
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.promo-img2 img{
    width: 100%;
    max-height: 100%;
}

.promo-img3{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.promo-img3 img{
    height: 100%;
    width: 65%;
}

.blue-link{
    color: rgb(63,74,136);
}

footer{
    padding: .5% 0;
    font-size: .5rem;
    color: darkgray;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

footer a{
    color: darkgray;
    text-decoration: underline;
}

.footer-link{
    padding: 0 2%;
    border-left: 1px solid gray;
}

.first-footer-link{
    padding-right: 2%;
}

.contact{
    margin-top: 1.8%;
}

.contact p{
    margin-bottom: .75%;
}

.signup{
    margin-top: 2%;
}

.form-div{
    display: flex;
    justify-content: flex-end;
}

.signup-div{
    width: fit-content;
}

.signup input{
    font-family: 'Montserrat', sans-serif;
    font-size: .45rem;
    width: 60%;
    border: 1px solid rgba(0,0,0,.3);
    padding: 1.25% 2.5%;
    margin-right: 2%;
}

.form-button{
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.3);
    font-family: 'Montserrat', sans-serif;
    font-size: .6rem;
    font-weight: 700;
}

.signup .form-button{
    padding: .5% 1.5%;
}

.search-form .form-button{
    padding: 1% 1%;
}