$header-color: #3399cc;
$navbar-color: #333333;

@mixin font-format($family,$weight:normal) {
    font-family: $family;
    font-weight: $weight;
}

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Levenim MT';
    src: url('./fonts/LevenimMT.eot');
    src: url('./fonts/LevenimMT.eot?#iefix') format('embedded-opentype'),
        url('./fonts/LevenimMT.woff2') format('woff2'),
        url('./fonts/LevenimMT.woff') format('woff'),
        url('./fonts/LevenimMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header{
    background-color: $header-color;
    font-size: xx-large;
    color: white;
    padding: 30px 40px;
}

.brand-name{
    @include font-format(Levenim MT,300);
}

nav{
    background-color: $navbar-color;
    padding: 10px 20px;
    position: relative;
    a{
        text-decoration: none;
        color: white;
        @include font-format(Calibri,700);
        font-size: x-large;
        padding: 0 20px;
    }
}

.blog-icon{
    float: right;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
}

.content{
    margin: 30px 70px;
    p{
        margin-bottom: 20px;
    }
}

.news{
    border: 2px solid rgba(0,0,0,.2);
    padding: 10px;
    margin: 20px 0;
    width: 60%;
}

.news-header{
    @include font-format(Levenim MT,600);
}

.news-text{
    padding-left: 20px;
    list-style-type: "-";
    @include font-format(gadugi);
    font-size: larger;
    p{
        margin-left: 10px;
    }
}

.welcome{
    width: 85%;
    margin-top: 40px;
}

.welcome-header{
    @include font-format(Arial,500);
    margin-bottom: 15px;
}

.welcome-text{
    @include font-format(Calibri);
    font-size: larger;
}